<!-- <p>aboutus works!</p> -->
<div class="contactus">
    <div class="formdetail">
        <div class="address">
            <h4>{{address}}</h4>
            <app-address></app-address>
            <div class="place">
                <a href="mailto:solutions@taglineinfotech.com" class="mail"><i class="bi bi-envelope-fill"></i>
                    {{add3}}</a>
            </div>
        </div>
    </div>
    <div class="forms">
        <h1>{{formHead}}</h1>
        <input type="text" placeholder="Full Name"><br>
        <input type="text" placeholder="Phone"><br>
        <input type="email" placeholder="Email"><br>
        <textarea placeholder="Message" rows="3"></textarea><br>
        <button>Send Message</button>
    </div>
</div>