.topbar {
    height: 86vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(196, 196, 196, 0) .01%, rgba(217, 97, 34, .2) 100%), url(../../../assets/images/topimg.webp);
}

.headtext h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    line-height: 90px;
    font-family: "Poppins", sans-serif;
}

.headtext h1 span {
    color: red;
}

.headtext p {
    font-size: 17px;
    text-align: center;
    margin-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headtext button {
    border: none;
    height: 60px;
    min-width: 13%;
    font-size: 18px;
    background: #D96122;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    padding: 13px 40px;
    color: #fff;
    border-radius: 10px;
    display: flex;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 107px;
}   
