.headerline{
    display: flex;
    justify-content: center;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    height: 2px;
    background: radial-gradient(50% 151250% at 50% -100%,#d96122 0%,rgba(255,255,255,0) 100%);
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    --bs-gutter-x: 0;
    margin-bottom: 50px; 
}

.row .menu {
    width: 25%;
    box-shadow: 5px 0 #d66f37,0 0 10px rgb(168, 167, 167);

}

.menu ul {
    display: block;
    padding: 0px;
}

.menu ul li {
    list-style: none;
    padding: 33px 10px 10px 53px;
}

.menu ul li:first-child {
    box-shadow: inset 7px 0em #D96122;
}

.menu ul li:first-child a {
    color: #d66f37;

}

.menu ul li a {
    text-decoration: none;
    color: #404040;
    font-size: 1.3rem;
    line-height: 1.5;
}

.menu ul li a:hover {
    color: #d66f37;
}

.menu ul li a:active {
    color: #d66f37;
}


.row .language {
    width: 50%;
    box-shadow: 0 0 10px rgb(168, 167, 167);;
    padding: 40px;
}

.row .language .web .backend {
    display: flex;
    flex-wrap: wrap;
}

.row .language .web .backend div {
    padding: 40px;
}

.row .language .web .backend img {
    height: 50px;
    max-width: 100px;
}

.row .language .web .backend h3 {
    font-weight: 300;
    text-align: center;
}

.row .language .web .frontend {
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
}

.row .language .web .frontend div {
    padding: 45px 42px 20px 40px;
}

.row .language .web .frontend img {
    height: 50px;
    max-width: 100px;
}

.row .language .web .frontend h3 {
    font-weight: 300;
    text-align: center;
}

// ===================

.backend {
    display: flex;
    flex-wrap: wrap;
}

.backend div {
    padding: 40px;
}

.backend img {
    height: 50px;
    max-width: 100px;
}

.backend h3 {
    font-weight: 300;
    text-align: center;
}

// // ==========

.frontend {
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
}

.frontend div {
    padding: 45px 42px 20px 40px;
}

.frontend img {
    height: 50px;
    max-width: 100px;
}

.frontend h3 {
    font-weight: 300;
    text-align: center;
}

