<!-- <p>navbar works!</p> -->
<div class="header">
    <nav>
        <ul>
            <img src="../assets/images/tagline.png">
            <!-- <li *ngFor="let navbaritem of navbarItems"><a href="#">{{ navbaritem }}</a>
                <select></select>
            </li> -->
            <li><a [routerLink]="'home'">Home</a></li>
            <li><a [routerLink]="'services'">Our Services</a></li>
            <li><a [routerLink]="'ourtechnogies'">Our Technologies</a></li>
            <li><a [routerLink]="'ourbest'">Our Best</a></li>
            <li><a [routerLink]="'ourblog'">Our Blogs</a></li>
            <li><a [routerLink]="'about'">About Us</a></li>
            <li><a [routerLink]="'/admin'">Admin</a></li>
            <!-- <div class="btnget">
                <button [type]="btntype" style="display: flex; justify-content: end;">GET QUOTE</button>
            </div> -->
        </ul>
    </nav>
</div>