ul {
    display: flex;
}

.header{
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
    flex-wrap: wrap;
    background-color: white;
    
}

.header nav img {
    margin: 10px 8%;
}

nav ul li {
    list-style-type: none;
    padding: 25px 10px;
    font-size: 18px;
    font-family: sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}

nav ul li a:hover{
    transition: all .2s ease-in;
    color: #D96122;
}

nav ul li select {
    border: none;
    font-size: 18px;
    font-family: sans-serif;
}

ul .btnget {
    display: flex;
    justify-content: center;
    width: 38%;
}

nav ul button {
    margin-top: 20px;
    height: 45px;
    padding: 17px 28px;
    border: none;
    border-radius: 5px;
    /* background-color: rgba(178, 28, 28, 0.593); */
    background: rgba(217, 97, 34, .3);
    color: #da6427;
    min-width: 20%;
    text-align: center;
    cursor: pointer;
}

nav ul button:hover {
    border-radius: 5px;
    background-color: white;
    transition: all .5s ease-in;
    border: 1px solid #D96122;
}
