<!-- <p>admin-child2 works!</p> -->
<div class="container">
    <h3 class="h3 text-danger text-center">Perticular City Details</h3>
    <!-- <table class="table ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{citieDetails.id}}</td>
                <td>{{citieDetails.name}}</td>
                <td>{{citieDetails.population}}</td>
            </tr>
        </tbody>
    </table> -->
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{citieDetails.id}}</h5>
            <p class="card-text">{{citieDetails.name}}</p>
            <a>{{citieDetails.population}}</a>
            <hr>
            <button [routerLink]="'admin-child'" class="btn btn-md btn-danger cursor-pointer">Back</button>
        </div>
    </div>
</div>